@tailwind base;
@tailwind components;
@tailwind utilities;


.scoroll-animation {
  animation: scanim 15s linear infinite;
}

@keyframes scanim {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(-100%);
  }
}